@model eProjectSemester3_1.Areas.Admin.ViewModels.AdminMembersChangePasswordViewModel
@{
    ViewBag.Title = "Change password";
}

<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="panel-content">
        @using (Html.BeginForm("ChangePassword", "AdminMembers", FormMethod.Post))
        {
            @Html.ValidationSummary(false)
            @Html.AntiForgeryToken()
            
            @Html.LabelFor(model => model.UserName)
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

            <div class="form-group">
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.NewPassword)
                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ReNewPassword)
                @Html.PasswordFor(model => model.ReNewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ReNewPassword)
            </div>

            <div class="submit-holder">
                <br />
                <input type="submit" class="btn-mvc-green btn-mvc-large" value="Đổi mật khẩu" />
            </div>
        }
    </div>
</div>